<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @position.quantity %>
</p>

<p>
  <strong>Deliverydate:</strong>
  <%= @position.deliverydate %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
