<h1>Open Assignments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Subject</th>
      <th>Notes</th>
      <th>Agent</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.customer.email %></td>
        <td><%= assignment.subject %></td>
        <td><%= assignment.offer.request.notes.count + assignment.offer.notes.count + assignment.notes.count %></td>
        <% if assignment.agent_id %>
          <td><%= User.find(assignment.agent_id).email %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', assignment, :class => "btn btn-info" %></td>
        <td><%= link_to 'Assume', assume_assignment_path(assignment), :class => "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>