<h2>Edit your profile</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :firstname %>
  <%= f.text_field :firstname, :autofocus => true %></div>

  <div><%= f.label :lastname %>
  <%= f.text_field :lastname %></div>

   <div><%= f.label :street %>
  <%= f.text_field :street %></div>

   <div><%= f.label :zip %>
  <%= f.text_field :zip %></div>

   <div><%= f.label :phone %>
  <%= f.text_field :phone %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, :style => "font-weight: bold;" %> <i>(we need your current password to confirm your changes)</i><br>
  <%= f.password_field :current_password%> <%= f.submit "Update", :class => "btn btn-success", :style => "display: inline;" %></div>

  
<% end %>

<h3>Delete my account</h3>

<p>Do you want to leave us? <%= button_to "Delete my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>