<h1>Listing articles</h1>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Delivertime</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= image_tag article.image.url(:mini) %></td>
        <td><%= article.name %></td>
        <td><%= article.price %></td>
        <td><%= article.delivertime %></td>
        <td><%= link_to 'Show', article, :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_article_path(article), :class => "btn btn-primary" %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
