<p id="notice"><%= notice %></p>


<p>
  <%= image_tag @article.image.url(:medium) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @article.price %>
</p>

<p>
  <strong>Delivertime:</strong>
  <%= @article.delivertime %>
</p>
