<%= form_for(@bugreport) do |f| %>
  <% if @bugreport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bugreport.errors.count, "error") %> prohibited this bugreport from being saved:</h2>

      <ul>
      <% @bugreport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :userid %><br>
    <%= f.number_field :userid %>
  </div>
  <div class="field">
    <%= f.label :employeeid %><br>
    <%= f.number_field :employeeid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
