<h1>Archiv</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>User-Mail</th>
      <th>Employee-Mail</th>
      <th>closing date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bugreports.each do |bugreport| %>
      <% if bugreport.closed %>
        <tr>
          <td><%= bugreport.subject %></td>
          <td><%= bugreport.description %></td>
          <td><%= bugreport.reporter.email %></td>
          <td><%= bugreport.agent.email %></td>
          <td><%= bugreport.closed %></td>

          <td><%= link_to 'Show', bugreport, :class =>"btn btn-info" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>