<h1>Listing bugreports</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Description</th>
      <th>Userid</th>
      <th>Employeeid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bugreports.each do |bugreport| %>
      <tr>
        <td><%= bugreport.subject %></td>
        <td><%= bugreport.description %></td>
        <td><%= bugreport.userid %></td>
        <td><%= bugreport.employeeid %></td>
        <td><%= link_to 'Show', bugreport %></td>
        <td><%= link_to 'Edit', edit_bugreport_path(bugreport) %></td>
        <td><%= link_to 'Destroy', bugreport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bugreport', new_bugreport_path %>
