<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @bugreport.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bugreport.description %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @bugreport.reporter.email %>
</p>

<p>
  <strong>Employeeid:</strong>
  <% if @bugreport.agent != nil %>
  	<%= @bugreport.agent.email %>
  <% else %>
  	-
  <% end %>
</p>

<p>
<% if @bugreport.closed != nil %>
 	<strong>Closed:</strong>
	<%= @bugreport.closed %>
 <% end %>
</p>

<%= show_notes(@bugreport).html_safe %>

<% if @bugreport.agent == current_user && @bugreport.closed == nil %>
	<%= link_to 'Close', close_bugreport_path(@bugreport), :class =>"btn btn-danger" %> 
<%end %>
<%= link_to 'Back', closed_bugreports_path(@bugreport), :class =>"btn btn-primary" %>