<h1>My Requests</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Subject</th>
      <th>Urgency</th>
      <th>Notes</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= User.find(request.customer_id).email %></td>
        <td><%= request.subject %></td>
        <td><%= request.urgency %></td>
        <td><%= Note.where(request_id: request).count %></td>
        <td><%= link_to 'Show', request, :class => "btn btn-info" %></td>
        <td><%= link_to 'Release', release_request_path(request), :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>