<h1>Open Requests</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Subject</th>
      <th>Urgency</th>
      <th>Notes</th>
      <th>Agent</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= User.find(request.customer_id).email %></td>
        <td><%= request.subject %></td>
        <td><%= request.urgency %></td>
        <td><%= Note.where(request_id: request).count %></td>
        <% if request.agent_id %>
          <td><%= User.find(request.agent_id).email %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to 'Show', request, :class => "btn btn-info" %></td>
        <td><%= link_to 'Assume', assume_request_path(request), :class => "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>