<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @businessprocess.customerid %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @businessprocess.subject %>
</p>

<p>
  <strong>Request:</strong>
  <%= @businessprocess.request %>
</p>

<p>
  <strong>Employeeid:</strong>
  <%= @businessprocess.employeeid %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @businessprocess.urgency %>
</p>

<p>
  <strong>Stateid:</strong>
  <%= @businessprocess.stateid %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @businessprocess.discount %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @businessprocess.offer %>
</p>

<p>
  <strong>Installationprice:</strong>
  <%= @businessprocess.installationprice %>
</p>

<%= link_to 'Edit', edit_businessprocess_path(@businessprocess) %> |
<%= link_to 'Back', businessprocesses_path %>
