<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Reporting Bugreports</title>
	</head>
	<body>
	  <h2>Reporting: Bugreports </h2>
		<div class="container">
			<div class="row">
				<div class="span8">
					<%= form_tag({:controller => "reporting", :action => "bugreport"}, :method => "post")      do %>
					<%= select_tag(:value, options_for_select([['All', 0],['Year', 1], ['Last 12 hours', 2]])) %>
					<%= submit_tag "Choose" %>
					<% end %>
					<img src ="<%= @chart %>">
				</div>

				<div class="span4">
				<h4> List of Agent's </h4>
				<% if @agents != nil%>
					<% @agents.each do |agent| %>
						<% if agent != nil %>
								<b><%= User.find(agent).firstname %>
								<%= User.find(agent).lastname %></b><br>
								<%= User.find(agent).phone %><br>
								<% if User.find(agent).absencestartdate != nil && User.find(agent).absenceenddate %>
									<% if User.find(agent).absencestartdate < Time.now && User.find(agent).absenceenddate > Time.now %>
										Agent is absence<br>
									<% end %>
								Assumed Reports: <%= Bugreport.where("agent_id like '?'", agent).count %><br>
								<% end %>
						<% end %>
					<% end %>
				<% end %>
				</div>
			</div>
		</div>
	</body>
</html>