<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Reporting Bugreports</title>
	</head>
	<body>
		<%= form_tag({:controller => "reporting", :action => "bugreport"}, :method => "post")      do %>
		<%= select_tag(:value, options_for_select([['All', 0],['Year', 1], ['Day', 2]])) %>
		<%= submit_tag "Choose" %>
		<% end %>
		<img src ="<%= @chart %>">
		<%= @test %>
	</body>
</html>