<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Reporting Process</title>
	</head>
	<body>
	 <h2>Reporting: Businessprocess </h2>
		<div class="container">
			<div class="row">
				<div class="span8">
					<%= form_tag({:controller => "reporting", :action => "businessprocess"}, :method => "post")      do %>
						<%= select_tag(:info, options_for_select([['All', 0],['Year', 1], ['Day', 2]])) %>
						<%= submit_tag "Choose" %>
						<div class="row">
							<div class="col-md-8">
								<table class="table table-hover">
									<tr>
										<td><img src="<%= @chart1 %>"></td>
										<td><img src="<%= @chart2 %>"></td>
									</tr>
								  <tr>
									<th>Description</th>
									<th>Content</th>
								  </tr>
									<tr>
										<td>Offers to Assignment: </td>
										<td><%= @OtA.round %>%</td>
									</tr>
									<tr>
										<td>payed Invoices: </td>
										<td><%= @Opayed.round %>%</td>
									</tr>
									<tr>
										<td>Average order volume: </td>
										<td><%= @Ovolume.round %>€</td>
									</tr>
									<tr>
										<td>Sales volume: </td>
										<td><%= @Avolume.round %></td>
									</tr>
								</table>
							</div>
						</div>
					<% end %>
				</div>
				<div class="span4">
					<h4>Best customers</h4>
					<% if !@customer.blank? %>
							<% if !@customer.blank? %>
							  <% for customer in @customer do %>
							  		<% if customer[0] != nil %>
								       <b>
								    	<%= User.where("id like '#{customer[0]}'").first.firstname %>
								    	<%= User.where("id like '#{customer[0]}'").first.lastname %><br>
								       </b>
								    	<%= User.where("id like '#{customer[0]}'").first.phone %><br>
								    	Hightest Order: <%=customer[1] %><br><br>
							  		<% end %>
							  <% end %>
							<% end %>				  
					<% end %>
				</div>
			</div>
		</div>
	</body>
</html>