<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Reporting</title>
	</head>
	<body>
		<h1>Reporting</h1>
		<div class="container-fluid">
			<div class="row">
				<div class="span6">
					<div class="thumbnail">
						<div class="caption">
							<h4><%= link_to 'Bugreports', reporting_bugreport_path, :id => "Bugreportlink" %></h4>
							<table class="table table-hover">
					    		<tr>
						    	  	<td>Average worktime:</td>
								   	<td><%= @allAverageTimeBug %> Min</td>
								</tr>
								<tr>
								    <td>Open bugreports</td>
								    <td><%= @openBugreports %></td>
								</tr>
			    			</table>
						</div>
					</div>
				</div>	
				<div class="span6">
					<div class="thumbnail">
						<h4><%= link_to 'Businessprocess', reporting_businessprocess_path %></h4>
						<div class="caption">
							<table class="table table-hover">
				    			<tr>
						    	   <td>rate of increase of Installations:</td>
								   <td><%= @installations %></td>
								</tr>
								<tr>
								    <td>rate of increase of Requests:</td>
								    <td><%= @requests %></td>
								</tr>
			    			</table>
						</div>
					</div>
				</div>	
			</div>
			<div class="row">
				<div class="span6">
				 <br>
					<div class="thumbnail">
						<h4><%= link_to 'Shop', reporting_shop_path %></h4>
						<div class="caption">
							<table class="table table-hover">
					    		<tr>
						    	  	<td>Top 10 Items </td>
								   	<td><%= @allAverageTimeBug %> Min</td>
								</tr>
								<tr>
								    <td>Worst 10 Items</td>
								    <td><%= @openBugreports %> </td>
								</tr>
			    			</table>
						</div>
					</div>
				</div>
				<br>	
				<div class="span6">
					<div class="thumbnail">
						<h4><%= link_to 'User', reporting_user_path %></h4>
						<div class="caption">
							<table class="table table-hover">
						    	<tr>
						    	   <td>Online</td>
								   <td><%= @userOnline %></td>
								</tr>
								<tr>
								    <td>Registrated</td>
								    <td><%= @userAll %> </td>
								</tr>
					    	</table>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>