<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>User List</title>
		<script>
		$(document).ready(function(){
    $('table tr').click(function(){
        window.location = $(this).attr('href');
        return false;
    });
});
		</script>
	</head>
	<body>
	<h2> User List </h2>
		<table class="table-striped">
			
			<% @list.each do |key, value| %>
				<tr href="<%= user_show_path(:id => key) %>">
					<td><%= image_tag value.avatar.url(:mini) %></td>
					<td><%= value.firstname %><td>
					<td><%= value.lastname %><td>
					<td><%= value.email %><td>
				</tr>
			<%end%>
			
		</table>
	</body>
</html>