<h1>Editing offer</h1>

<%= render 'form' %>

<%= show_positions(@offer).html_safe%>

<%= show_notes(@offer.request).html_safe%>

<h3>Total: <%= calcTotalPrice(@offer)  %></h3>

<% if @offer.agent == current_user %>
	<%= link_to "Publish", publish_offer_path(@offer), :class => "btn btn-primary" %>
<% end %>