<h1>Editing offer</h1>

<%= render 'form' %>

<%= show_positions(@offer).html_safe%>

<%
 if @offer.assignment == nil
 	noteButton = "offer"
 end
%>

<%= show_notes(@offer.request, noteButton, @offer.id).html_safe%>

<h3>Total: <%= calcTotalPrice(@offer)  %></h3>

<% if @offer.agent == current_user %>
	<%= link_to "Publish", publish_offer_path(@offer), :class => "btn btn-primary" %>
<% end %>