<table class="table table-hover">
  <tr>
      <td><h1><%= User.find(@offer.customer).email %> - <%= @offer.subject %></h1></td>
  </tr>
  <tr>
    <td>
      <p>
        <%= @offer.body %>
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Agent:</strong>
      <% if @offer.agent_id %>
        <%= User.find(@offer.agent_id).email %>
      <% else %>
        Nobody
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Installationprice: <%= @offer.installationprice %></td>
  </tr>
</table>

<%= show_positions(@offer).html_safe%>

<%
 if @offer.assignment == nil
  noteButton = "offer"
 end
%>

<%= show_notes(@offer.request, noteButton, @offer.id).html_safe%>

<h3>Total: <%= calcTotalPrice(@offer)  %></h3>

<% if @offer.customer == current_user and @offer.assignment == nil %>
<div><%= link_to "Accept", convert_assignment_path(:offer_id => @offer.id), :class => "btn btn-success" %></div>
<% end %>

<%= link_to 'Create PDF document', offer_path(@offer, :format => :pdf) %>