<p id="notice"></p>

<h1>Welcome to our awesome store feel free to look around and buy as much as you want to!</h1>
<p>

<table class="table table-striped table-hover" >
  <thead>
    <tr>
     <th>Image</th>
     <th>Name</th>
     <th>Description</th>
     <th>Price</th>
     <th>Delivery time </th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
      	<td><%= image_tag(article.image) %></td>   	
        <td><%= article.name %></td>
      	<td><%= sanitize(article.description)%></td>
        <td><%=number_to_currency(article.price)%></td>
        <td><%= article.delivertime %> days</td>
        <td>
        <%= button_to line_items_path(article_id: article),:name => article.id ,:class =>"btn btn-success" do %>
        	<i class= "fa fa-shopping-cart"></i>
        <% end %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


