<p id="notice"></p>
<div class="container-fluid">
 <h1>Welcome to our awesome store!</h1>
 <div class="row-fluid">
  <div class="span10">
  <table class="table table-striped table-hover" >
    <thead>
      <tr>
       <th></th>
       <th>Name</th>
       <th>Description</th>
       <th>Price</th>
       <th>Delivery time </th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= image_tag article.image.url(:mini) %></td>
          <td><%= article.name %></td>
          <td><%= article.description%></td>
          <td><%=number_to_currency(article.price)%></td>
          <td><%= article.delivertime %> days</td>
          <td>
          <%= button_to line_items_path(article_id: article),:name => article.id, remote: true ,:class =>"btn btn-success" do %>
            <i class= "fa fa-shopping-cart"></i>
          <% end %> 
          </td>
        </tr>
      <% end %>
      </tbody>
  </table>
  </div>
  <div class ="span2" >
   <div id="side">
    <% if @cart %>
     <%= hidden_div_if(@cart.line_items.empty?,id: 'cart') do %>
      <%= render @cart %>
      <% end %>
    <% end %>
    </div>
   </div>
  </div>
<%= will_paginate @articles %>
</div>
</div>
  



